<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SynthesizeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7467E5E41E7CD9B0008AFB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7467E6001E7CD9B0008AFB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7467E60B1E7CD9B0008AFB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
